.container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  .navbar {
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width:  840px;
  
    .logoArea {
      font-size: 18px;
      font-weight: bolder;
    }
  
    @media screen and (max-width: 480px) {
      .logoArea {
        display: none;
      }
    }
  
    .linkArea {
      a {
        font-size: 12px;
        padding: 0 15px;
        color: #515767;
      }
  
      .active {
        color: #1e80ff;
      }
    }
  
    .operationArea {
      button {
        margin-right: 12px;
        font-size: 12px;
      }
    }
  }
}
