@import "antd/dist/antd.css";

body {
  background-color: aliceblue;
}

.content-layout {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}